/*div{*/
/*    display: block;*/
/*    line-height: 1;*/
/*}*/

/*input{*/
/*    writing-mode: horizontal-tb !important;*/
/*    text-rendering: auto;*/
/*    color: fieldtext;*/
/*    letter-spacing: normal;*/
/*    word-spacing: normal;*/
/*    line-height: normal;*/
/*    text-transform: none;*/
/*    text-indent: 0px;*/
/*    text-shadow: none;*/
/*    display: inline-block;*/
/*    text-align: start;*/
/*    appearance: auto;*/
/*    -webkit-rtl-ordering: logical;*/
/*    cursor: text;*/
/*    background-color: field;*/
/*    margin: 0em;*/
/*    padding: 1px 2px;*/
/*    border-width: 2px;*/
/*    border-style: inset;*/
/*    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
/*    border-image: initial;*/
/*}*/

.header_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_line{
    width: 100%;
    height: 100%;
}

 .default_input{
    margin: 0;
    height: 100%;
    border: 1px solid rgba(118,121,127,0.3);
    font-weight: 400;
    font-size: .875rem;
    font-family: Inter,sans-serif;
    outline: none;
    padding: 0 calc(15% + 38px) 0 16px;
    background-color: #fff;
    vertical-align: top;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 8%);
    transition: box-shadow .2s ease;
    border-radius: 4px;
}

.button_name{
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*border: none;*/
    /*z-index: 1;*/
    /*width: 20%;*/
    font-weight: 500;
    text-align: center;
    /*display: block;*/
}

.button_search_ripple{
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    position: absolute;
    opacity: 0.3;
    border-radius: 50%;
    transform: scale(0);
}

.magnifying_glass{
    width: 40px;
    height: 40px;
}

.search_form{
    position: relative;
    display: flex;
}

.store_action_buttons{
    display: inline-flex;
    align-items: center;
    font-size: 0.875rem;
    position: relative;
}

.action_button_auth{
    margin: 8px;
    padding: 0 8px;
}

.noselect{
    user-select: none;
}

.catalog_track{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
