.products, .content{
    display: flex;
    flex-direction: row;
}

.product{
    margin: 20px;
}

.gramms{
    flex-grow: 1;
    display: flex;
    align-items: end;
    font: 500 12px/16px "Museo Sans Cyrl 500",sans-serif;
    color: #7c909c;
}
.content{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    margin: 7px;
    padding: 0 12px;
}

.name{
    margin-left: 20px;
    font: 700 18px/20px "Museo Sans Cyrl 700",sans-serif;
    color: #203842;
}
.img{
    height: 194px;
    width: 265px;
}

.title, .logo{
    margin-left: 10px;
}

.store_action_buttons{
    margin-right: 10px;
}

.product_2 {
    display: flex;
    flex-direction: row;
    padding-right: 400px;

}

.product_content{
    padding-top: 60px;
    margin-left: 60px;
}

.button_product{
    display: flex;
    flex-direction: row;
}

.cart{
    padding-left: 50%;
    display: flex;
}

.cart_1{
    display: flex;
    border: solid;
    border-color: #f52341;
    border-radius: 7%;
    width: 104px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font: 700 14px/16px "Museo Sans Cyrl 700",sans-serif;
    color: #f52341;
}

.wishes, .price, .cart_3, .cart_1, .cart_4{
    display: flex;
    border: solid;
    border-color: #f52341;
    border-radius: 7%;
    width: 120px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font: 700 14px/16px "Museo Sans Cyrl 700",sans-serif;
    color: #f52341;
}

.pr{
    display: flex;
    flex-direction: row;
}

.value_pr{
    padding-left: 20px;
    font: 16px "Museo Sans Cyrl 700",sans-serif;
}

.title_pr{
    font: 700 18px "Museo Sans Cyrl 700",sans-serif;
}

.cart_3, .cart_4{
    color: #203842;
    text-align: center;
}

.cart_2{
    padding-top: 60px;
}

.cart_5{
    padding-top: 10px;
}

.product_1_2{
    display: flex;
    flex-direction: row;
}

.product_content{
    width: 500px;
}

.product{
    display: block;
}

.kek{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.post_23{
    margin: 2% 40%;
}

.field{
    font: 700 16px "Museo Sans Cyrl 700",sans-serif;
    color: #203842;
}

.text_1{
    font: 16px "Museo Sans Cyrl 700",sans-serif;
    /*display: flex;*/
    /*text-align: right;*/
    /*justify-content: flex-start;*/
}
