.field {
    clear:both;
    text-align:left;
    line-height:25px;
}

.text_1 {
    display:flex;
    float:right;
    padding-top: 3%;
    margin-left: 6px;
}

.main{
    display: flex;
    justify-content: center;
}

.post{
    display: block;
    text-align: center;
}

.kek{
    display: flex;
    flex-direction: row;
    float: right;
}