{% extends 'base.html' %}
    {% block body %}
        <div class="title">
        <h1>{{ title }}</h1>
        </div>
        <form method="post">
                <select name="category" class="block1">
                    <option disabled>Категория</option>
                    {% for category in categories %}
                        {% if category == p_category %}
                            <option value={{category}} selected="selected">{{category}}</option>
                        {% else%}
                            <option value={{category}}>{{category}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                    <input type="text" class="block1" placeholder="search ..." name="name" value={{name}}>
                    <button type="submit" class="block1">Поиск</button>
            </form>
        <div class="products">
        {% for product in products %}
            <div class="product_1" onclick="location.href = '{{url_for("get_product", product_id=product.product_id)}}'">
                <div class="img">
                    <img width="265px" height="213px" src="/static/imgs/{{ product.img }}">
                </div>
                <br>
                <div class="name">{{product.name}}</div>
                <div class="content">
                    <div class="gramms">{{ product.gramms }} гр.</div>
                    <div class="price_outside">
                        <div class="price">{{ product.price }} ₽</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}