{% extends 'base.html' %}
    {% block body %}
        <div class="title">
        <h1>{{ title }}</h1>
        </div>
        <div class="products">
        {% for product in products %}
            <div class="product" onclick="location.href = '{{url_for("get_product", product_id=product.product_id)}}'">
                <div class="img">
                    <img src="/static/imgs/{{ product.img }}">
                </div>
                <br>
                <div class="name">{{product.name}}</div>
                <div class="content">
                    <div class="gramms">{{ product.gramms }} гр.</div>
                    <div class="price_outside">
                        <div class="price">{{ product.price }} ₽</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}