{% block body %}
    <div class="back" onclick="location.href = '{{ url_for("main_list") }}'">
        <p>На главную</p>
    </div>
    <div class="product">
        <div class="product_name">{{ product.name }}</div>
        <div>
            <img src="/static/imgs/{{ product.img }}">
        </div>
        <div class="product_gramms">{{ product.gramms}}</div>
        <div class="product_price">{{ product.price }}</div>
        <div class="product_description">{{ product.description }}</div>
        <div class="product_nutritional_value">{{ product.nutritional_value }}</div>
        <form action="/cart/" method="post">
            <input class="btn" type="hidden" name="main_page" value="{{ product.id }}">
            <input type="image" src="/static/imgs/kuni_li.jpg" class="btn" width="80" height="80" class=""right>
        </form>
        <form action="/wishes/" method="post">
            <input class="btn" type="hidden" name="main_page" value="{{ product.id }}">
            <input type="image" src="/static/imgs/kuni_li.jpg" class="btn" width="80" height="80" class="right">
        </form>
    </div>
{% endblock %}