{% extends 'base.html' %}
{% block body %}
    <br>
    <div style="margin-left: 38%">
        <h1>Личный кабинет</h1>
    </div>
    <form method="post" class="post_23">
        <div class="main">
            <div class="content_1">
                <div class="kek">
                    <div class="field">Фамилия:</div>
                    <div class="text_1">{{ user[0].surname }}</div>
                </div>
                <br>
                <div class="kek">
                    <div class="field">Имя:</div>
                    <div class="text_1">{{ user[0].name }}</div>
                </div>
                <br>
                <div class="kek">
                    <div class="field">Отчество: </div>
                    <div class="text_1">{{ user[0].patronymic }}</div>
                </div>
                <br>
                <div class="kek">
                    <div class="field">Дата рождения: </div>
                    <div class="text_1">{{ user[0].birthday }}</div>
                </div>
                <br>
                <div class="kek">
                    <div class="field">Email: </div>
                    <div class="text_1">{{ user[0].email }}</div>
                </div>
                <br>
                <div class="kek">
                    <div class="field">Пол:</div>
                    <div class="text_1">{{ user[0].floor }}</div>
                </div>
                <br>
                <div class="kek">
                    <div class="field">Номер телефона: </div>
                    <div class="text_1">{{ user[0].phone }}</div>
                </div>
                <br>
                <div class="kek">
                    <div class="field">Адрес: </div>
                    <div class="text_1">{{ user[0].adres }}</div>
                </div>
            </div>
        </div>
        <br>
        <h2>Заказы:</h2>
{#        <div class="orders">#}
{#            <div class="number_order">#}
{#                <p>Номер заказа: {{ order_number }} </p>#}
{#            </div>#}
{#        <hr>#}
{#        <div class="data_user">#}
{#            <div class="pr_2">#}
{#                <div class="title_pr">Фамилия:</div>#}
{#                <div class="value_pr"> {{ user.surname}} </div>#}
{#            </div>#}
{#            <br>#}
{#            <div class="pr_2">#}
{#                <div class="title_pr">Имя:</div>#}
{#                <div class="value_pr"> {{ user.name}} </div>#}
{#            </div>#}
{#            <br>#}
{#            <div class="pr_2">#}
{#                <div class="title_pr">Номер телефона:</div>#}
{#                <div class="value_pr"> {{ user.phone}} </div>#}
{#            </div>#}
{#            <br>#}
{#            <div class="pr_2">#}
{#                <div class="title_pr">Адрес:</div>#}
{#                <div class="value_pr"> {{ user.adres}} </div>#}
{#            </div>#}
{#            <br>#}
{#        </div>#}
{#        <hr>#}
{#        <hr>#}
{#        {% for i in range(ab) %}#}
{#            <div class="products">#}
{#                <div class="first_n_i">#}
{#                    <div class="pr_2">#}
{#                        <div class="title_pr">Название:</div>#}
{#                        <div class="value_pr"> {{ products[i].name}}</div>#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="img_pr">#}
{#                        <img src="/static/imgs/{{ products[i].img }}" style="width: 150px;">#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="pr_2">#}
{#                        <div class="title_pr">Вес:</div>#}
{#                        <div class="value_pr"> {{ products[i].gramms}} гр.</div>#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="pr_2">#}
{#                        <div class="title_pr">Цена:</div>#}
{#                        <div class="value_pr">{{ products[i].price }} ₽</div>#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="pr_2">#}
{#                        <div class="title_pr">Состав:</div>#}
{#                        <div class="value_pr">{{ products[i].description }}</div>#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="pr_2">#}
{#                        <div class="title_pr">Пищевая ценность на 100 гр.</div>#}
{#                        <div class="value_pr">{{ products[i].nutritional_value }}</div>#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="pr_2">#}
{#                        <div class="title_pr">Количество: </div>#}
{#                        <div class="value_pr">{{ amount[i] }}</div>#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="pr_2">#}
{#                        <div class="title_pr">Стоимость: </div>#}
{#                        <div class="value_pr">{{ cost[i] }} ₽</div>#}
{#                    </div>#}
{#                    <br>#}
{#                </div>#}
{#            </div>#}
{#            <hr>#}
{#        {% endfor %}#}
{#        <hr>#}
{#        <div class="end_order">#}
{#            <h2>К оплате: {{ cost_all }} ₽</h2>#}
{#            <h3>Оплата наличными курьеру</h3>#}
{#            <div class="order_to_courier">#}
{#                <div class="order_to_courier_1" onclick="location.href = '{{ url_for('message_list') }}'">#}
{#                    <p>Отправить</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        </div>#}

        <button type="submit" class="button_redactor_profil" style="margin-left: 9%">
            Редактировать профиль
        </button>
    </form>
{% endblock %}

{#<html>#}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/product.css') }}">#}
{#    <title>Product</title>#}
{#</head>#}
{#<body>#}
{#<h1 id="first">Fetrisa_toy</h1>#}
{#<div class="rt"><a#}
{#        href="/menu">Меню</a> <a href="/menu/toys/">Игрушки</a> <a href="/menu/sets/">Наборы</a> <a href="/backet/">Корзина</a>#}
{#        href="/menu">Меню</a> <a href="/menu/toys/">Игрушки</a> <a href="/menu/sets/">Наборы</a> <a href="/menu/backet/">Корзина</a>#}
{#    <a href="/menu/like/">Избранное</a>#}
{#</div>#}
{#<div class="all">#}
{#    <p class="thumb">#}
{#    <div class="discripion1">#}
{#        <p>Имя: {{ user.name}}</p>#}
{#    <p>Email: {{ user.email }}</p>#}
{#    <p>Фамилия: {{ user.second_name }}</p>#}
{#    <p>Дата рождения: {{ user.birthday }}</p>#}
{#    <p>Номер телефона: {{ user.phone }}</p>#}
{#    </p>#}
{#    <br>#}
{#{% if products %}#}
{#    <hr>#}
{#    <p>Ваши ваказы:</p>#}
{#    {% for product in products %}#}
{#    <div class="card mb-3" style="max-width: 400px; margin-top: 20px;  margin-left: auto;#}
{#    margin-right: auto;">#}
{#                    <div class="row no-gutters">#}
{#                        <div class="col-md-4">#}
{#                            <img#}
{#                                    src="{{ product.picture }}"#}
{#                                    onclick="location.href = '{{ url_for("get_product", product_id=product.id) }}'"#}
{#                                    class="card-img" alt="Упс" height="170">#}
{#                        </div>#}
{#                        <div class="col-md-8">#}
{#                            <div class="card-body">#}
{#                                <p class="card-title">{{ product.name }}</p>#}
{#                                <h5 class="card-text">{{ product.discription }}</h5>#}
{#                                    <p class="card-text"><small class="text-muted">{{ product.price }} руб.</small>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#    </div>#}
{#        {% endfor %}#}
{#{% endif %}#}
{#<br>#}
{#<br>#}
{#    <form method="post">#}
{#     <button type="submit" class="registerbtn">Редактировать профиль</button>#}
{#    </form>#}
{#</div>#}
{#</div>#}
{#</body>#}
{#</html>#}