{% extends 'base.html' %}
{% block body %}
    <br>
    <div style="display: flex; justify-content: center">
        <h1>Редактирование личного кабинета</h1>
    </div>
    <form method="post", class="post_23">
        <div class="all">
            <div class="field">
                <label class="surname">
                    <b>Фамилия</b>
                </label>
                <input type="text" class="text_1" placeholder="введите фамилию" name="surname" value="{{ user[0].surname }}" required>
            </div>
            <br>
            <div class="field">
                <label class="name_1">
                    <b>Имя</b>
                </label>
                <br>
                <input type="text" class="text_1" placeholder="введите имя" name="name" value="{{ user[0].name }}" required>
            </div>
            <br>
            <div class="field">
                <label class="patronymic">
                    <b>Отчество (при наличии)</b>
                </label>
                <input type="text" class="text_1" placeholder="введите отчество" name="patronymic" value="{{ user[0].patronymic }}" required>
            </div>
            <br>
            <div class="field">
                <label class="birthday">
                    <b>Дата рождения</b>
                </label>
                <input type="date" class="text_1" name="birthday" value="{{ user[0].birthday }}" required>
            </div>
            <br>
            <div class="field">
                <label class="floor_1">
                    <b>Пол</b>
                </label>
            <br>
                {% if user[0].floor == "female" %}
                    <input type="radio" name="floor" checked = "checked" value="male">
                    <label class="female">мужской</label>
                    <input type="radio" name="floor" value="female">
                    <label class="female">женский</label>
                    <br>
                    <input type="radio" name="floor" value="xz">
                    <label class="xz">не определился</label>
                {% elif user[0].floor == "male" %}
                    <input type="radio" name="floor" value="male">
                    <label class="female">мужской</label>
                    <input type="radio" name="floor" checked = "checked" value="female">
                    <label class="female">женский</label>
                    <br>
                    <input type="radio" name="floor" value="xz">
                    <label class="xz">не определился</label>
                {% elif user[0].floor == "xz" %}
                    <input type="radio" name="floor" value="male">
                    <label class="female">мужской</label>
                    <input type="radio" name="floor" value="female">
                    <label class="female">женский</label>
                    <br>
                    <input type="radio" name="floor" checked = "checked" value="xz">
                    <label class="xz">не определился</label>
                {% endif %}
            </div>
            <br>
            <div class="field">
                <label class="email">
                    <b>Почта</b>
                </label>
                <input type="email" class="text_1" placeholder="введите почту" id="email" name="email" value="{{ user[0].email }}">
            </div>
            <br>
            <div class="field">
                <label class="phone">
                    <b>Номер телефона</b>
                </label>
                <input type="tel" class="text_1" placeholder="введите номер телефона" id="phone" name="phone" value="{{ user[0].phone }}">
            </div>
        <br>
            <button type="submit" class="profil_redactor_button" style="margin-left: 9%">
                Применить изменения
            </button>
        </div>
    </form>
{% endblock %}