{% extends 'base.html' %}
    {% block body %}
        <div class="title">
        <h1>{{ title }}</h1>
        </div>
        <div class="products_1">
        {% for product in products %}
            <div class="products">
                <div class="first_n_i">
                    <div class="name">
                        <h1>{{ product.name }}</h1>
                    </div>
                    <div class="img_pr">
                        <img src="/static/imgs/{{ product.img }}">
                    </div>
                </div>
                <div class="product_content">
                    <div class="pr_2">
                        <div class="title_pr">Вес:</div>
                        <div class="value_pr"> {{ product.gramms}} гр.</div>
                    </div>
                    <br>
                    <div class="pr_2">
                        <div class="title_pr">Цена:</div>
                        <div class="value_pr">{{ product.price }} ₽</div>
                    </div>
                    <br>
                    <div class="pr_2">
                        <div class="title_pr">Состав:</div>
                        <div class="value_pr">{{ product.description }}</div>
                    </div>
                    <br>
                    <div class="pr_2">
                        <div class="title_pr">Пищевая ценность на 100 гр.</div>
                        <div class="value_pr">{{ product.nutritional_value }}</div>
                    </div>
                </div>
                <div class="cart_6">
                    <div class="cart_2">
                        <div class="cart_3" onclick="location.href = '{{ url_for("get_product_cart_add", product_id = product.product_id) }}'">
                            <p>Добавить в корзину</p>
                        </div>
                    </div>
                    <div class="cart_5">
        {#                    TODO: отредактировать ссылку#}
                        <div class="cart_4" onclick="location.href = '{{ url_for("get_product_cart_add", product_id = product.product_id) }}'">
                            <p>Удалить из избранного</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endblock %}